body {
    background-color: #fef848;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
  }
  
  .box {
    background-color: #fef848;
  
    box-sizing: border-box;
    width: 350px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    grid-gap: 50px;
    margin-bottom: 20px;
  
  
  
  }
  
  
  
  .box1 {
    background-color: #518991;
    animation: chintu 5s;
    transform: skewX();
    transition-duration: 0.5s;
    transition-delay: 1.5s;
    animation-iteration-count: infinite;
  
  }
  
  @keyframes chintu {
    from {
      transform: skewX(30deg);
    }
  
    to {
      transform: skewX(-30deg);
    }
  }
  
  .box2 {
    background-color: #a0a0a0;
    animation: piyush 3s;
    transform: skewX();
    transition-duration: 0.5s;
    transition-delay: 1.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes piyush {
    from {
      transform: skewY(30deg);
    }
  
    to {
      transform: skewY(-30deg);
    }
  }
  
  .box3 {
    background-color: #518991;
    animation: naina 5s;
    transition-duration: 0.8s;
    transition-delay: 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes naina {
    from {
      transform: rotate(-360deg);
    }
  
  }
  
  .box4 {
  
    background-color: #518991;
    animation: chiku 5s;
    transition-duration: 0.5s;
    transition-delay: 1.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes chiku {
    from {
      transform: rotateX(60deg);
    }
  
    to {
      transform: rotateX(-60deg);
    }
  
  }
  
  .box5 {
    background-color: #9b4837;
    animation: neha 5s;
    transition-duration: 0.5s;
    transition-delay: 1.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes neha {
    from {
      transform: rotateY(60deg);
    }
  
    to {
      transform: rotateY(-60deg);
    }
  
  
  }
  
  .box6 {
    background-color: #5da14b;
    animation: papa 4s;
    transition-duration: 0.8s;
    transition-delay: 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes papa {
    from {
      transform: rotateZ(-30deg);
    }
  
    to {
      transform: rotateZ(0deg);
    }
  
  }
  
  .ancher {
    text-align: center;
  
    font-size: 30px;
  }
  
  ol {
    box-sizing: border-box;
    width: 40%;
    height: auto;
    display: flex;
    margin: 0 auto;
    align-items: center;
  
  
  }
  
  .card1 {
    width: 100px;
    height: 100px;
    transition-duration: 0.8s;
    transition-delay: 0.5 s;
    background-color: #90c633;
    animation: card1 5s;
    margin: 10px;
  }
  
  .card1:hover {
    width: 300px;
  
  }
  
  .card2 {
    height: 100px;
    width: 100px;
    transition-duration: 0.8s;
    transition-delay: 0.5s;
    background-color: #90c633;
    animation: card2 5s;
    transition: width 0.5s, height 2s;
    margin: 10px;
  }
  
  .card2:hover {
    width: 300px;
    height: 300px;
  }
  
  .card3 {
  
    height: 100px;
    margin: 10px;
  
    width: 100px;
    transition-duration: 1.5s;
    transition-delay: 0.5 s;
    background-color: #90c633;
    animation: card3 5s;
  }
  
  .card3:hover {
    width: 300px;
  
  }
  
  .card4 {
    width: 100px;
    transition-duration: 2.5s;
    transition-delay: 0.5 s;
    background-color: #90c633;
    height: 100px;
    margin: 10px;
  
  }
  
  .card4:hover {
    width: 300px;
  
  }
  
  .card5 {
    width: 100px;
    transition-duration: 1s;
    transition-delay: 0.5 s;
    background-color: #90c633;
    height: 100px;
    margin: 10px;
  
  }
  
  .card5:hover {
    width: 300px;
    transition: ease-out;
  
  }
  
  .card6 {
    width: 100px;
    transition-duration: 1s;
    transition-delay: 0.5 s;
    background-color: #90c633;
    height: 100px;
    margin: 10px;
  
  }
  
  .card6:hover {
    width: 300px;
  
  }
  
  .card7 {
    width: 100px;
    transition-duration: 1s;
    transition-delay: 0.5 s;
    background-color: #90c633;
    margin: 10px;
    height: 100px;
  
  }
  
  .card7:hover {
    width: 300px;
    height: 100px;
  
  }
  
  .btn {
    text-align: center;
    font-size: 30px;
  }
  
  
  /* Third Page */
  .parrent {
    position: relative;
  }
  
  .sky img {
    width: 100%;
    height: 500px;
  
  
  
  }
  
  .city {
    width: 1000%;
    height: 250px;
    position: absolute;
    top: 225px;
    background-image: url('city.png');
    background-repeat: repeat-x;
    animation-name: city-ani;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes city-ani {
    100% {
      transform: translateX(-1500px);
    }
  }
  
  .road {
    width: 1000%;
    height: 250px;
    position: absolute;
    top: 455px;
    background-image: url('road.jpg');
    background-repeat: repeat-x;
    animation-name: road;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes road {
    100% {
      transform: translateX(-1500px);
    }
  }
  
  .car img {
    height: 200px;
    width: 400px;
    position: absolute;
    top: 420px;
    left: 27%;
  }
  
  .wheel img {
    width: 67px;
    height: 67px;
    position: absolute;
    top: 528px;
    left: 448px;
    animation: wheel1 0.1s;
    /* transition-duration: 0.8s; */
    transition-delay: 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes wheel1 {
    from {
      transform: rotate(-360deg);
    }
  }
  
  .wheel2 img {
    width: 68px;
    height: 68px;
    position: absolute;
    top: 528px;
    left: 691px;
    animation: wheel1 0.10s;
    /* transition-duration: 0.8s; */
    transition-delay: 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes wheel2 {
    from {
      transform: rotate(-360deg);
    }
  }
  
  .sun img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 80px;
    right: 100px;
    animation: sun 10s linear;
    transition-duration: 0.8s;
    transition-delay: 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes sun {
    from {
      transform: rotate(360deg);
    }
  }
  
  .flag img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 412px;
    left: 700px;
  }